<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h3>Write a new chat</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you">
        <br><br>
        <textarea name="message">Write your message</textarea>
        <br><br>
        <input type="text" name="to" placeholder="reciever">
        <br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>